[submodule "sources_non_forked/SimpylFold"]
	path = sources_non_forked/SimpylFold
    url = https://github.com/tmhedberg/SimpylFold.git

[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
    url = https://github.com/morhetz/gruvbox.git

[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
